<nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
          <img height="30" width="100" src="http://www.infinitybrasil.net/img/logo-infinity.png"/>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">Dados Cadastrais</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/lista-lojas">Listar Lojas</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/cadastro-loja">Cadastrar Loja</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/login">Sair</a>

      </div>
</nav>
